@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

body{
    background-color: black;
    color: white;
}

label{
    color:white;
    font-size: 48px;
    text-shadow: -1px -1px 4px #000, 1px -1px 4px #000, -1px 1px 4px #000, 1px 1px 4px #000
}

.shadowText{
    color:white;
    font-size: 48px;
    text-shadow: -1px -1px 4px #000, 1px -1px 4px #000, -1px 1px 4px #000, 1px 1px 4px #000
}

#mainTitle{
    text-align: center;
    font-size: 4em;
    animation-name: fade-in;
    animation-duration: 4s;
}

#visitCount{
    text-align: center;
    color: grey;
}

#turnText{
    text-align: center;
}


a {color:rgb(255, 69, 100); } 
a:visited { color:rgb(255, 69, 100); }
a:hover { color:white;}

.linkContainer{
    display: block;
    text-align: center;
}

.horizontalContainer{
    display: flex;
    flex-direction: row;
}

.absolutepos{
    position: absolute;
}

.contentCard{
    width: 50%;
    font-size: 2em;
    background-color: rgb(37, 11, 61);
    border-style: double;
    border-color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.grid {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 384px;
}

.halfsize {
    height: 50px;
    width: auto;
}

.smalltext{
    font-size: 14px;
}

#mainBar {
    position: fixed;
    z-index: 1;

    background-color: grey;
    width: 100%;
    padding: 10px;
    margin-top: -45px;
    margin-left: -10px;
}

#eventCard {
    position: absolute;
    display: block;
    background-color: lightsteelblue;
    top:750px;
    left:67px;
    width: 200px;
    height: 250px;

    font-size: 24px;
    text-align: center;
    text-shadow: -1px -1px 4px #000, 1px -1px 4px #000, -1px 1px 4px #000, 1px 1px 4px #000
}

#die {
    position: absolute;
    top: 600px;
    left: 67px;
}

#statusLabel{
    font-size:24px;
}

#moraleLabel{
    position: absolute;
    font-size:28px;
    right: 30px;
}

#board {
    width: 1520px;
    height: 855px;
}

.dontshow {
    display: none;
}

#west-res{
    color:white;
    font-size: 48px;
    text-shadow: -1px -1px 4px #000, 1px -1px 4px #000, -1px 1px 4px #000, 1px 1px 4px #000;
    position: absolute;
    left: 100px;
}

#sea-res{
    color:white;
    font-size: 48px;
    text-shadow: -1px -1px 4px #000, 1px -1px 4px #000, -1px 1px 4px #000, 1px 1px 4px #000;
    position: absolute;
    left: 300px;
}

#east-res{
    color:white;
    font-size: 48px;
    text-shadow: -1px -1px 4px #000, 1px -1px 4px #000, -1px 1px 4px #000, 1px 1px 4px #000;
    position: absolute;
    left: 500px;
}

#yildrim{
    position: absolute;
    left: 1030px;
    top: 540px;
}
